.header {
  text-align: center;
  padding: 5vh 0;
  padding-bottom: 2vh;
  color: rgba(0, 0, 0, 0.8);
}

.header p {
  padding-top: 2vh;
  color: hsl(229, 6%, 66%);
}

.header p a {
  /* color: rgba(60, 60, 61, 0.856); */
  text-decoration: none;
}
