* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("./assets/bg-desktop.svg");
  background-size: cover;
  background-color: #674baf;
}

@media (max-width: 1000px) {
  body {
    background-image: url("./assets/bg-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
